* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body {
  background: #1F1F1F;
  color: #F0F0F0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
}

button {
  background: #F0F0F0;
  color: #1F1F1F;
  font-size: 1em;
  font-weight: bold;
  width: 135px;
  height: 50px;
  border: 5px outset #7F7F7F;
}

div#board {
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 660px;
  border: 10px inset #7F7F7F;
}

div.row {
  display: flex;
  flex: 1 0 1px;
}

div.square {
  background: #FFFFFF;
  flex: 1 0 1px;
}

div.buttons {
  display: flex;
  gap: 40px;
}